# --- DEPENDENCIAS ---
node_modules/
jspm_packages/
web_modules/
.npm
.yarn/
!.yarn/releases/
!.yarn/plugins/
!.yarn/sdks/
!.yarn/versions/
.pnp.*

# --- COMPILACIÓN Y SALIDA ---
dist/
dist-ssr/
build/
out/
.next/
.nuxt/
.cache/
.parcel-cache/
.vuepress/dist/
.temp/
**/.vitepress/dist/
**/.vitepress/cache/
.docusaurus/
.serverless/
.fusebox/
*.tgz
*.tsbuildinfo

# --- SEGURIDAD Y ENTORNO (CRÍTICO) ---
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.local

# --- HISTORIAL Y BACKUPS (TUS SOLICITUDES) ---
.history/
.dynamodb/
.tern-port
*.swp
*.swo

# --- LOGS Y REPORTES ---
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
coverage/
*.lcov
.nyc_output

# --- EDITORES E IDEs ---
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
.vscode-test/

# --- SISTEMA OPERATIVO ---
.DS_Store
Thumbs.db